/**************************
    PERSONAL STYLE CLASSES
***************************/
.nc-bg-dark {
    background-color: #2c3e50;
}

.nc-bg-green {
    background-color: #1abc9c;
    height: 400px;
}

.nc-text-white {
    color: #fff;
}

.nc-border-white {
    border-color: #fff;
}

.nc-margin-r-0 {
    margin-right: 0;
}

/****************************
    //PERSONAL STYLE CLASSES
*****************************/
/** Header **/
.navbar-toggler i {
    color: #888;
    font-size: 1.5rem;
}

/** //Header **/

/** "Start Bootstrap" section*/

#start {
    color: #fff;
}

#nc-avatar {
    max-width: 200px;
}

.bi-star-fill {
    font-size: 2rem;

}

.nc-star::before,
.nc-star::after {
    content: '';
    display: inline-block;
    width: 15%;
    border: 2px solid #fff;
    border-radius: 10px;
    vertical-align: middle;
}

/** //"start bootstrap" section*/