/**************************
    PERSONAL STYLE CLASSES
***************************/
.nc-bg-dark {
    background-color: #2c3e50;
}

.nc-dark-text {
    color: #2c3e50;
}

.nc-bg-green {
    background-color: #1abc9c;
}

.nc-text-white {
    color: #fff;
}

.nc-border-white {
    border-color: #fff;
}

.nc-margin-r-0 {
    margin-right: 0;
}

/****************************
    //PERSONAL STYLE CLASSES
*****************************/
/** Header **/
.navbar-toggler i {
    color: #888;
    font-size: 1.5rem;
}

/** //Header **/

/** "Start Bootstrap" section*/

#start {
    color: #fff;
}

#nc-avatar {
    max-width: 200px;
}

.bi-star-fill {
    font-size: 2rem;

}

.nc-star::before,
.nc-star::after {
    content: '';
    display: inline-block;
    width: 15%;
    border: 2px solid #fff;
    border-radius: 10px;
    vertical-align: middle;
}

/** //"start bootstrap" section*/

.nc-star.black-border::before,
.nc-star.black-border::after {
    border: 2px solid #2c3e50;
}

.black-border .bi-star-fill {
    color: #2c3e50;
}

/** About section **/
.nc-star.small-wings::before,
.nc-star.small-wings::after {
    width: 7%;
}

.download-btn {
    font-size: 1.1rem;
}

/** //About section **/

/** Contact Me **/
.nc-input-box {
    border: none;
    padding-top: 0;
    border-bottom: 1px solid #ced4da;
}

.nc-green-btn {
    background-color: #1abc9c;
    border: none;
}

.nc-green-btn:hover {
    background-color: #159d82;
}

/** //Contact Me **/

#contact {}