/**************************
    PERSONAL STYLE CLASSES
***************************/
.nc-bg-dark {
    background-color: #2c3e50;
}

.nc-bg-green {
    background-color: #1abc9c;
}

.nc-dark-text {
    color: #2c3e50;
}

.nc-white-text {
    color: #fff;
}

.nc-green-text {
    color: #1abc9c;
}

.nc-border-white {
    border-color: #fff;
}

.nc-margin-r-0 {
    margin-right: 0;
}

.nc-small-container {
    max-width: 450px;
}

/****************************
    //PERSONAL STYLE CLASSES
*****************************/
/** Header **/
.navbar-toggler i {
    color: #888;
    font-size: 1.5rem;
}

/** //Header **/

/** "Start Bootstrap" section*/

#start {
    color: #fff;
}

#nc-avatar {
    max-width: 200px;
}

.bi-star-fill {
    font-size: 2rem;

}

.nc-star::before,
.nc-star::after {
    content: '';
    display: inline-block;
    width: 15%;
    border: 2px solid #fff;
    border-radius: 10px;
    vertical-align: middle;
}

/** //"start bootstrap" section*/

.nc-star.black-border::before,
.nc-star.black-border::after {
    border: 2px solid #2c3e50;
}

.black-border .bi-star-fill {
    color: #2c3e50;
}

/** About section **/
.nc-star.small-wings::before,
.nc-star.small-wings::after {
    width: 7%;
}

.nc-about-container {
    max-width: 350px;
}

.download-btn {
    font-size: 1.1rem;
}

/** //About section **/

/** Contact Me **/
.nc-input-box {
    border: none;
    padding-top: 0;
    border-bottom: 1px solid #ced4da;
}

.nc-green-btn {
    background-color: #1abc9c;
    border: none;
}

.nc-green-btn:hover {
    background-color: #159d82;
}

/** //Contact Me **/

/** Footer **/

footer section:first-child {
    background-color: #3a546d;

}

footer section:last-child {
    background-color: #2c3e50;

}

#nc-icon-container i {
    font-size: 1.3rem;
    line-height: 1.3rem;
    padding-top: 0.90rem;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

#nc-icon-container i:hover {
    color: #000;
    background-color: #fff;
}

.nc-link:hover {
    color: #159d82;
}

/** //Footer **/